<template>
  <nav class="navbar navbar-expand  justify-content-between">
    <span class="navbar-brand mb-0 h1" href="#">${applicationTitle}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">View</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>  
  </nav>
</template>